node_modules
dist
dist-ssr
build
.build
app/build
app/.build
DerivedData
*.xcodeproj
.cache
.parcel-cache
landing/dist
landing/node_modules
app/webui/dist
app/webui/node_modules
app/Sources/Typie/WebResources/webui
public
*.min.js
*.min.css
package-lock.json
pnpm-lock.yaml
yarn.lock
Fonts
*.woff2
*.ttf
*.icns
*.png
*.svg
*.wav
.DS_Store
